 
p,h2{
    text-align: center;
    color:magenta;
   
}


.header{
    color:yellow;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.grid{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.footer{
    display: flex; 
    justify-content: flex-end;
    

}